/* MainTabBasicView.ui.xml:
Change the border of the main screen */
.obrand_borderPanelStyle {
    border-color: #719823;
}

/* UserPortalMainTab.ui.xml:
These classes allow you to change the tab color at the top of the user portal
main screen. */
.obrand_mainTab .obrand_activeMiddle {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    font-size: 12.5px;
    color: #719823;
}

.obrand_mainTab .obrand_inactiveMiddle {
    border: 1px solid #a8db42;
    background-color: #719823;
}

.obrand_mainTab .obrand_activeMiddleLink {
    color: #719823;
}

/* VerticalTiab.ui.xml:
These classes allow you to change the colors of the tabs on the left of the screen with
regards to the extended view. */
.obrand_verticalTab .obrand_activeMiddle {
    background-color: #719823;
}

.obrand_verticalTab .obrand_inactiveMiddleLink {
    color: #719823;
}

/* User portal HeaderView.ui.xml:
These classes allow you to change the color and logo at the
top of the user portal. */
.obrand_wrapper {
    height: 74px;
    margin: 0 0 16px 16px;
}

.obrand_logo {
    float: left;
    background-image: url(images/user_portal_logo.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 74px;
    width: 131px;
}

.obrand_barOuter {
    background-image: url(images/bg_head.gif);
    background-repeat: repeat-x;
    height: 74px;
    width: 100%;
}

/* VerticalTabPanel.ui.xml:
This class works together with obrand_vertical tab to change the
colors of the side tab in the extended view */
.obrand_content {
    border: 2px solid #719823;
}

/* SideTabWithDetailsView:
This class allows you to change the colors of menu bar in the extended view */
.obrand_mainBarPanel {
    padding-top: 5px;
    height: 36px;
    border-bottom: 2px solid #719823;
    margin-left: 2px;
    margin-right: 2px;
}

/*
 * User portal login page styles*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-image: url('images/background-official.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: transparent;
  color: #fff;
}

.container-footer {
  padding: 20px 30px 16px 30px;
  background-color: rgba(51,51,51,0.9);
}

.logo-descr-container{
  /*display: inline;*/
}

.logo-descr-container > .media > .media-logo{
  margin-right: 25px;
}

.product-description {
  font-size: 23px;
  font-weight: bold;
  font-family: serif;
  border-left: 1px solid #434343;
  padding-left: 25px;
  line-height: 1.42857143;
}

.product-description .description{
  margin: 0px;
}

.language-menu-container{
  text-align: center;
  margin-top:20px;
}

.language-menu-container .btn-group .btn-hidden{
  background-color: transparent;
  border: none;
  color: #fff;
}

.language-menu-container .btn-group .btn-hidden:focus{
  outline-color: transparent;
}

/* Login From
-------------------------------------------------- */

.modal-login-container {
  background-color: rgba(100,100,100,0.7);
  color: #fff;
  border: solid 0px transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 20%;
}


.modal-login-container .modal-header {
  background-color: rgba(70,70,70,0.7);
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.modal-login-container .modal-body {
  padding: 20px 30px 60px 30px;
}

.modal-login-container .alert {
  margin-bottom: 0px;
}

.modal-login-container .modal-body .modal-form-container {
  padding: 20px 50px 0px 50px;
}

.modal-login-container .modal-body span{
  margin-top: 0px;
  font-size: 18px;
}

.modal-login-container .modal-body form .btn{
  background-color: #00b6ec;
  border-color: transparent;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.fa-user {
  color: #00b6ec;
}

.fa-key {
  color: #feb902;
}

.fa-puzzle-piece {
  color: #ff8a00;
}

.fa-warning {
  color: #f2cb01;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.left-addon select  { padding-left:  30px; }
.right-addon select { padding-right: 30px; }


.btn-group .btn-hidden{
  background-color: transparent;
  border: none;
  color: #00b6ec;
}

.btn-group .btn-hidden:focus{
  outline-color: transparent;
}

.simple-checkbox {
  padding-right: 10px;
}
